/*body {
  background-image: url("lol.jpg");
  background-size: cover;
  color: white;
    font-family: 'Varela Round', sans-serif;

}

#login {
  background-color: rgb(109 ,167 , 148);
  color: white;
}

#inputEmail {

  background-color : rgb(215 , 220 , 216);
  border-radius: 16px 16px 0px 0px;
}

#inputPassword {

  background-color : rgb(215 , 220 , 216);
}

#signup {
  background-color: rgb(87 , 195 , 160);
  color: white;
  border-radius: 20px;
}

#bonjour {
   border-radius: 15px;
}

#login {
   border-radius: 0px 0px 16px 16px;
}*/